.paginate ul {
	display: flex;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	padding: 0;
	font-weight: 700;
	padding: 8px;
}

.paginate li > a {
	border: 1px solid #555;
	padding: 2px 14px;
	border-radius: 1px;
}

@media screen and (max-width: 480px) {
	.paginate {
		overflow-x: scroll;
		overflow-y: hidden;
	}
	.paginate ul {
		width: 400px;
		padding: 4px;
		justify-content: flex-start;
	}
}
